<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    {{#if userExist}}
        User with this login is already register
        <p><a href="/registration">Return to registration</a></p>
        <p><a href="/login">Log In</a></p>
    {{/if}}
</div>
<div>
    {{#if error}}
        Incorrect login/password
        <p><a href="/login">Return</a></p>
        If you don't have account, register
        <p><a href="/registration">Registration</a></p>
    {{/if}}
</div>

</body>
</html>