<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
<form action="/registration" method="post">
    <label for="login">Login:</label>
    <input type="text" name="login">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password">
    <br>
    <label for="age">Your Age:</label>
    <input type="text" name="age">
    <br>
    <label for="firstName">Your Name:</label>
    <input type="text" name="firstName">
    <br>
    <label for="lastName">Your LastName:</label>
    <input type="text" name="lastName">
    <br>
    <input type="submit" value="Register Acc">
</form>

</body>
</html>